.root-body {
  display: flex;
  width: 100%;
  padding: 100px 0;
}

.main-left {
  width: 60%;
}

.main-body-quote {
  width: 531px;
  font-size: 60px;
  text-shadow: 2px 4px #969393;
  font-weight: 500;
  /* line-height: 100px; */
}

.body-quote {
  width: 498px;
  font-size: 20px;
  margin-top: 20px;
}

.root-body > img {
  width: 600.46px;
  height: 515px;
}

.consultation-button {
  width: 264px;
  height: 68px;
  display: flex;
  place-items: center;
  justify-content: center;
  margin-left: 0;
  background-color: black;
  color: white;
  border-radius: 14px;
  margin-top: 20px;
  font-size: 20px;
}
