.nav-root {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.main-logo {
  width: fit-content;
  height: fit-content;
}

.main-logo-image {
  width: 219.54px;
  height: 56px;
}

.navbar-links {
  display: flex;
  width: 70%;
  align-items: center;
  margin-left: 80px;
  /* background-color: red; */
}

.navbar-link {
  margin: 0 50px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.req-quote {
  width: 231px;
  height: 68px;
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px black solid;
  border-radius: 14px;
}
