.nav-root {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  /* background-color: red; */
}

.main-logo {
  width: fit-content;
  height: fit-content;
}

.main-logo-image {
  width: 219.54px;
  height: 56px;
}

.navbar-links {
  display: flex;
  width: 59%;
  align-items: center;
  margin-left: 80px;
  /* background-color: yellow; */
  justify-content: space-between;
}

.navbar-link {
  /* margin: 0 50px; */
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  /* background-color: green; */
}

.req-quote {
  width: 231px;
  height: 68px;
  display: flex;
  place-items: center;
  justify-content: center;
  margin-left: 0;
  /* background-color: blue; */
  border: 1px black solid;
  border-radius: 14px;
}
