:root {
  font-family: space-grotesk;
  line-height: 1.5;
  font-weight: 400;

  --green: #b9ff66;
  --grey: #f3f3f3;
  --black: #191a23;
  --white: #ffffff;

  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: painter;
  src: url("./assets/fonts/SignPainterHouseScript.ttf");
}

@font-face {
  font-family: space-grotesk;
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
